# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
ENV/

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Database
# =========================
*.sqlite
*.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Data
# =========================
data/
datasets/